In [24]:
import gspread
from gspread_dataframe import set_with_dataframe
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("../data/future_predictions.csv", index_col=0)
data.head()

,league,date,team,opponent,home,0,1,2
0,"Serie C, Girone B",2023-01-08,siena,reggiana,0,0.136038,0.517463,0.346498
1,"Serie C, Girone B",2023-01-08,san_donato_tavarnelle,sassari_torres,1,0.184710,0.342512,0.472778
2,"Serie C, Girone B",2023-01-08,gubbio,fermana,1,0.808809,0.105148,0.086042
3,"Serie C, Girone B",2023-01-08,imolese,lucchese,1,0.126196,0.307486,0.566317
4,"Serie C, Girone B",2023-01-08,olbia,aquila_montevarchi,1,0.665615,0.134607,0.199779

In [14]:
gsheet_name = "test_upload"
tab_name = 'weight'

def get_gsheet_data(gsheet_name, tab_name):
    gc = gspread.service_account(filename='gsheet_creds/football-373419-fe3d09a53ac9.json')
    sh = gc.open(gsheet_name) 
    worksheet = sh.worksheet(tab_name)
    df = pd.DataFrame(worksheet.get_all_records())
    
    return df

In [16]:
data = get_gsheet_data(gsheet_name, tab_name)
data.head()

   Player  Weight
0       1      80
1       2      90
2       3     100
3       4      60

In [20]:
heights = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))
heights.head()

          A         B         C         D
0 -0.240837 -0.616913  0.555028  0.055223
1 -0.880566  0.800753  0.174267  1.798184
2 -2.866744 -1.209576 -0.070670 -0.869813
3  1.207696 -0.134043 -0.852109  0.861738
4  0.257690 -0.596843 -0.937009 -1.427923

In [25]:
gsheet_name = "test_upload"
tab_name = "height"

def write_df_to_gsheets(gsheet_name, tab_name, df):
    gc = gspread.service_account(filename='gsheet_creds/football-373419-fe3d09a53ac9.json')
    sh = gc.open(gsheet_name) 
    worksheet = sh.worksheet(tab_name)
    set_with_dataframe(worksheet, df)

In [27]:
write_df_to_gsheets(gsheet_name, tab_name, heights)

In [33]:
match_importance = pd.read_csv("../data/match_importance.csv", index_col=0)
sim_season = pd.read_csv("../data/simulated_season.csv", index_col=0)

In [34]:
gsheet_name = "test_upload"
tab_name = "match_importance"
df_upload = match_importance

write_df_to_gsheets(gsheet_name, tab_name, df_upload)

In [35]:
gsheet_name = "test_upload"
tab_name = "sim_season"
df_upload = sim_season

write_df_to_gsheets(gsheet_name, tab_name, df_upload)